<div class="video-container" data-provider="{{ provider|slugify }}" id="{{ url|slugify }}">
    <img class="backdrop"
         name="backdropimg"
         src="{{ thumbnail }}" />

    <div class="embed">
        <iframe src="" data-url="{{ url }}"
                frameborder="0" width="100%" height="100%" webkitallowfullscreen mozallowfullscreen allowfullscreen
                allow="autoplay; encrypted-media" style="max-width: 100%;"></iframe>
    </div>

    <div class="play-button-wrapper">
        <button class="play-button">
            play video
        </button>
    </div>

    <div class="overlay-wrapper hide">
        <div class="overlay">
            <h2>{{ provider }} privacy waarschuwing</h2>
            <p>Deze video wordt gehost door {{ provider }}. Als je doorgaat wordt er een tracking cookie in je browser geplaatst.</p>
            <input type="checkbox" id="{{ url|slugify }}_remember_decision" name="remember_decision">&nbsp;
            <label for="{{ url|slugify }}_remember_decision">Onthoud deze beslissing voor andere {{ provider }} video's op smd.nu</label>
            <button class="submit" data-provider="{{ provider|slugify }}" data-video="{{ url|slugify }}">Akkoord</button>
        </div>
    </div>
</div>
