{% load i18n %}
{% comment %}
    Either the chosen or unchosen div will be shown, depending on the presence
    of the 'blank' class on the container.

    Any element with the 'action-choose' class will open the page chooser modal
    when clicked.
{% endcomment %}

<div id="{{ attrs.id }}-chooser" class="chooser {% block chooser_class %}link-chooser{% endblock %} {% if not value %}blank{% endif %}">

    <div class="chosen url_field">
        {% block chosen_state_view %}
            <div class="input">
                <input type="text"
                   class="full"
                   title="{{ link_url }}"
                   value="{{ link_text }}"
                   name="link_title"/>
            </div>
        {% endblock %}

        <ul class="actions">
            {% if not widget.is_required %}
                <li><button type="button" class="button action-clear button-small button-secondary">{{ widget.clear_choice_text }}</button></li>
            {% endif %}
            <li><button type="button" class="button action-choose button-small button-secondary">{{ widget.choose_another_text }}</button></li>
        </ul>
    </div>

    <div class="unchosen">
        <button type="button" class="button action-choose button-small button-secondary">{{ widget.choose_one_text }}</button>
    </div>

</div>

{{ original_field_html }}
